
<nav class="navbar navbar-dark fixed-top bg-dark nav-pills">
	<div class="container">
		<ul class="nav">
		  <li class="nav-item">
			<a class="nav-link" href="index.html" id="nav-link-home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="aboutme.html" id="nav-link-aboutme">About Me</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="programming.html" id="nav-link-programming">Programming</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="music.html" id="nav-link-music">Music</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contact.html" id="nav-link-contact">Contact</a>
		  </li>
		</ul>
	</div>
</nav>